<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <property name="connection.url">jdbc:mysql://127.0.0.1/blog?characterEncoding=UTF-8&amp;autoReconnect=true&amp;useSSL=false</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <property name="show_sql">true</property>

        <!-- SQL方言，这边设定的是MySQL -->
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <!-- 映射文件 -->
        <mapping class="com.tan.model.User" />
        <mapping class="com.tan.model.Article" />
        <mapping class="com.tan.model.Category" />
        <mapping class="com.tan.model.Comment" />


    </session-factory>
</hibernate-configuration>